body{
	background-color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

.fon{
	position: fixed;
	margin: 0;
	z-index: -1;
	top: 40px;
	width: 100%;
	height: 100%;
	padding: 0;
	background-image: url(../../fones/reichstag.jfif);
	opacity: 0.5;
	background-size: 100% 100%;
	animation: slideshow 20s linear infinite;
	animation-direction: alternate;
}

.top_menu{
	background: rgb(200, 200, 250);
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	margin: auto;
	position: fixed;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	text-align: center;
	z-index: 2;
}

a{
	color: #00f;
	font-size: 20px;
	text-decoration: none;
	margin-top: 3px;
	margin-left: 30px;
	margin-right: 30px;
}

@keyframes slideshow{
	0%{ background-image: url(../../fones/reichstag.jpg); }
	20%{ background-image: url(../../fones/eifel_tower.jpg); }
	40%{ background-image: url(../../fones/big_ben.jpg); }
	60%{ background-image: url(../../fones/colosseum.jpg); }
	80%{ background-image: url(../../fones/motherland.jpg); }
	100%{ background-image: url(../../fones/stonehendge.jpg); }
}

.info{
	padding: 20px;
	display: block;
	top: 55px;
	width: 75%;
	height: 135%;
	position: absolute;
	margin: auto;
	left: 12.5%;
	font-size: 25px;
	border-radius: 10px;
	background-color: rgba(216, 216, 216);
}

img{
	height: 100px;
	margin: 1% 5% 1% 5%;
}
button{
	position: absolute;
	margin: auto;
	text-align: center;
	padding: 5px;
	background-color: rgb(200, 200, 250);
	border: 1px solid rgb(200, 200, 250);
	border-radius: 7px;
	width: 30%;
	height: 10%; 
	bottom: 2%;
	left: 30%;
	font-size: 20px;
}
button:active{background-color: rgb(150, 150, 200); border: 1px solid rgb(150, 150, 200);}

@media only screen and (max-width: 768px){
	.info{padding: 15px; height: 200%}
	button{height: 7%;}
}
.modal {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.5);
z-index: 10000;
-webkit-transition: opacity 500ms ease-in;
-moz-transition: opacity 500ms ease-in;
transition: opacity 500ms ease-in;
opacity: 0;
pointer-events: none;
}

.modal:target {
opacity: 1;
pointer-events: auto;
}

.modal > div {
width: 500px;
height: 250px;
background: #fff;
position: relative;
margin: 10% auto;
-webkit-animation: minimise 500ms linear;
padding: 30px;
-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
-moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
box-shadow: 0 3px 20px rgba(0,0,0,0.9);
background: -moz-linear-gradient(#fff, #ccc);
background: -webkit-gradient(linear, right bottom, right top, color-stop(1, rgb(255,255,255)), color-stop(0.57, rgb(230,230,230)));
text-shadow: 0 1px 0 #fff;
}

.modal:target > div {
-webkit-animation-name: bounce;
}

.modal h2 {
  font-family: "Arial";
  font-size: 36px;
  padding: 0 0 20px;
}

.modal{font-family: "Arial"; text-align: center;}

@-webkit-keyframes bounce {
  0% {
  	-webkit-transform: scale3d(0.1,0.1,1);
  	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
  	-webkit-transform: scale3d(1.08,1.08,1);
  	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
  	-webkit-transform: scale3d(0.95,0.95,1);
  	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
  	-webkit-transform: scale3d(1,1,1);
  	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-webkit-keyframes minimise {
  0% {
  	-webkit-transform: scale3d(1,1,1);
  }
  100% {
  	-webkit-transform: scale3d(0.1,0.1,1);
  }
}

.modal a[href="#close"] {
position: absolute;
right: 0;
top: 0;
color: transparent;
}

.modal a[href="#close"]:focus {
outline: none;
}

.modal a[href="#close"]:after {
content: 'X';
display: block;
position: absolute;
right: -10px;
top: -10px;
width: 1.5em;
padding: 1px 1px 1px 2px;
text-decoration: none;
text-shadow: none;
text-align: center;
font-weight: bold;
background: #000;
color: #fff;
border: 3px solid #fff;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
-webkit-transform: scale(1.1,1.1);
-moz-transform: scale(1.1,1.1);
}