body{
	background-color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

.fon{
	position: absolute;
	margin: 0;
	z-index: -1;
	top: 40px;
	width: 100%;
	height: 94.5%;
	padding: 0;
	background-image: url(reichstag.jfif);
	opacity: 0.5;
	background-size: 100% 100%;
	animation: slideshow 20s linear infinite;
	-webkit-animation: slideshow 20s linear infinite;
	-moz-animation: slideshow 20s linear infinite;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
}

.choose_from_lst{
	position: absolute;
	margin: auto;
	width: 25%;
	height: 15%;
	text-align: center;
	padding: 10px;
	font-size: 17px;
	background-color: rgba(150, 150, 210, 0.6);
	border-radius: 10px;
	right: 1.5%;
}

.chooseonmap{
	position: absolute;
	margin: auto;
	width: 25%;
	height: 15%;
	text-align: center;
	padding: 10px;
	font-size: 17px;
	background-color: rgba(150, 150, 210, 0.6);
	border-radius: 10px;
	left: 1.5%;
}

.top_menu{
	background: rgb(200, 200, 250);
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	margin: auto;
	position: absolute;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	text-align: center;
}

.bott_menu{
	background: rgb(200, 200, 250);
	bottom: 0;
	left: 0;
	height: 110px;
	width: 100%;
	margin: auto;
	position: absolute;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	text-align: left;
	font-size: 15px;
}

a{
	color: #00f;
	font-size: 20px;
	text-decoration: none;
	margin-top: 3px;
	margin-left: 30px;
	margin-right: 30px;
}

a[href="cities/london.html"]{
	margin-left: -30px;
}

.aboutsite{
	top: 55px;
	width: 75%;
	height: 56%;
	position: absolute;
	margin-left: 12.5%;
	margin-right: 12.5%;
	font-size: 25px;
	border-radius: 10px;
	background-color: rgba(216, 216, 216);
	padding: 5px;
}

.list{
	display: inline-block;
	visibility: hidden;
	opacity: 1;
	background-color: rgba(150, 150, 210, 0.6);
	text-align: left;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
	right: 22%;
	transform: translate(-78%, -10%);
}

.choose_from_lst:hover .list{visibility: visible;}

@keyframes slideshow{
	0%{ background-image: url(fones/reichstag.jpg); }
	20%{ background-image: url(fones/eifel_tower.jpg); }
	40%{ background-image: url(fones/big_ben.jpg); }
	60%{ background-image: url(fones/colosseum.jpg); }
	80%{ background-image: url(fones/motherland.jpg); }
	100%{ background-image: url(fones/stonehendge.jpg); }
}
@media screen and (max-width: 768px){
	.list{
		display: inline-block;
		visibility: hidden;
		opacity: 1;
		background-color: rgba(150, 150, 210, 0.6);
		text-align: left;
		border-radius: 10px;
		width: 100%;
		height: 170%;
		position: absolute;
		margin: auto;
		right: 22%;
		transform: translate(-78%, -60%);
		text-align: center;
	}
	.choose_from_lst:hover .list{visibility: visible;}
}