body{
	background-color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

.fon{
	position: absolute;
	margin: 0;
	z-index: -1;
	top: 40px;
	width: 100%;
	height: 94.5%;
	padding: 0;
	background-image: url(reichstag.jfif);
	opacity: 0.5;
	background-size: 100% 100%;
	animation: slideshow 20s linear infinite;
	animation-direction: alternate;
}

.aboutsite{background-color: rgba(216, 216, 216);}

.choose_from_lst{
	position: absolute;
	margin: auto;
	width: 25%;
	height: 15%;
	text-align: center;
	padding: 10px;
	font-size: 17px;
	background-color: rgba(150, 150, 210, 0.6);
	border-radius: 10px;
	right: 0;
}

.choose_from_lst a{color: #0000ff;}

.chooseonmap a{color: #0000ff;}

.chooseonmap{
	position: absolute;
	margin: auto;
	width: 25%;
	height: 15%;
	text-align: center;
	padding: 10px;
	font-size: 17px;
	background-color: rgba(150, 150, 210, 0.6);
	border-radius: 10px;
	left: 0;
}

.top_menu{
	background: rgba(200, 200, 250, 0.9);
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	margin: auto;
	position: absolute;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	text-align: center;
}

a{
	color: #0af;
	font-size: 20px;
	text-decoration: none;
	margin-top: 3px;
	margin-left: 30px;
	margin-right: 30px;
}

.aboutsite{
	top: 55px;
	width: 75%;
	position: absolute;
	margin-left: 12.5%;
	margin-right: 12.5%;
	font-size: 25px;
	border-radius: 10px;
}

.list{
	display: block;
	opacity: 0;
	background-color: rgba(150, 150, 210, 0.6);
	text-align: left;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
	right: 22%;
	transform: translate(-78%, -59%);
}

.choose_from_lst:hover .list{opacity: 1;}

@keyframes slideshow{
	0%{ background-image: url(fones/reichstag.jfif); }
	20%{ background-image: url(fones/eifel_tower.jfif); }
	40%{ background-image: url(fones/big_ben.jfif); }
	60%{ background-image: url(fones/colosseum.jfif); }
	80%{ background-image: url(fones/motherland.jpg); }
	100%{ background-image: url(fones/stonehendge.jfif); }
}