body{
	background-color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

.fon{
	position: fixed;
	margin: 0;
	z-index: -1;
	top: 40px;
	width: 100%;
	height: 100%;
	padding: 0;
	background-image: url(../fones/reichstag.jfif);
	opacity: 0.5;
	background-size: 100% 100%;
	animation: slideshow 20s linear infinite;
	animation-direction: alternate;
}

.top_menu{
	background: rgb(200, 200, 250);
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	margin: auto;
	position: fixed;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	text-align: center;
	z-index: 2;
}

a{
	color: #00f;
	font-size: 20px;
	text-decoration: none;
	margin-top: 3px;
	margin-left: 30px;
	margin-right: 30px;
}

@keyframes slideshow{
	0%{ background-image: url(../fones/reichstag.jpg); }
	20%{ background-image: url(../fones/eifel_tower.jpg); }
	40%{ background-image: url(../fones/big_ben.jpg); }
	60%{ background-image: url(../fones/colosseum.jpg); }
	80%{ background-image: url(../fones/motherland.jpg); }
	100%{ background-image: url(../fones/stonehendge.jpg); }
}

.info{
	padding: 20px;
	display: block;
	top: 55px;
	width: 75%;
	height: 135%;
	position: absolute;
	margin: auto;
	left: 12.5%;
	font-size: 25px;
	border-radius: 10px;
	background-color: rgba(216, 216, 216);
}

img{
	height: 100px;
	margin: 1% 5% 1% 5%;
}
button{
	position: absolute;
	margin: auto;
	text-align: center;
	padding: 5px;
	background-color: rgb(200, 200, 250);
	border: 1px solid rgb(200, 200, 250);
	border-radius: 7px;
	width: 30%;
	height: 10%; 
	bottom: 2%;
	left: 30%;
	font-size: 20px;
}
button:active{background-color: rgb(150, 150, 200); border: 1px solid rgb(150, 150, 200);}

@media only screen and (max-width: 768px){
	.info{padding: 15px; height: 220%}
}